

<footer fxLayout="column" class="my-footer">
    <div fxLayout="row" fxLayout.xs="column" class="container ">
      <div fxLayout="row" class="colu-6">
        <ul class="link-container colu-6 colu-xs-6">
          <h5 class="">Contact</h5>
          <li>
            <i class="material-icons md-18">face</i>
            <a href="">Maurice Happi</a>
          </li>
          <li>
            <!-- <mat-icon>call</mat-icon>
            <a href="">017657750941</a> -->
            <i class="material-icons md-18">call</i>
            <a href="tel:+4917657750941">017657750941</a>
          </li>
          <li>
            <i class="material-icons md-12">mail</i>
            <a href="mailto: mnhappi@yahoo.de">mnhappi@yahoo.de</a>
          </li>
          <li>
            <i class="fa fa-skype"></i>
            <a href="https://web.skype.com/">mnhappi</a>
          </li>
        </ul>
        <ul class="link-container colu-6 colu-xs-6">
          <h5 class="">Communities</h5>
          <li>
            <i class="fa fa-github"></i>
            <a href="https://github.com/LeTalent/Forum-App">Github</a>
          </li>
          <li>
            <a href="">Linked</a>
            <i class="fa fa-linkedin-square"></i>
          </li>
          <li>
            <i class="fa fa-youtube-play"></i>
            <a href="">YouTube</a>
          </li>
          <li>
            <a href="">Link 4</a>
          </li>
        </ul>
      </div>
      <div fxLayout="row" class="colu-6">
        <ul class="link-container colu-6 colu-xs-6">
          <h5 class="">Link 3</h5>
          <li>
            <a href="">Impressum</a>
          </li>
          <li>
            <a href="">Datenschutz</a>
          </li>
          <li>
            <a href="">Security</a>
          </li>
          <li>
            <a href="">Help</a>
          </li>
        </ul>
        <ul class="link-container colu-6 colu-xs-6">
          <h5 class="">AGB</h5>
          <li>
            <a href="">Privacy Policy</a>
          </li>
          <li>
            <a href="">Terms & Conditions</a>
          </li>
          <li>
            <a href="">Newsletters</a>
          </li>
          <li>
            <a href="">Join Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="signature">© 2020 Copyright:
      <a href="mailto: mnhappi@yahoo.de">Maurice Ngassa Happi, Germany</a>
    </div>
  </footer>
