

.form-container{
  width: 100%;
}
.search-form {
    width: 80%;
  }

.image-div{
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.spacer{
  margin: 0 auto;
}
.innen-div{
  width: 150px;
  height:250px,;
  // border: solid 2px grey;
}
::ng-deep .carousel{
  width: 80%;
  margin: 0 auto 10px auto;
}
.container1{
 margin: 50px auto;
}

::ng-deep .mat-form-field-label .mat-form-field-empty{
  color: lightgrey;
}

// Small devices (landscape phones, 576px and up)
@media  only screen and (max-width: 576px) {
  .example-card-one {width: 100%;}
 }

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 576px) {
  .example-card-one {width: 50%;}
 }

// Large devices (desktops, 992px and up)
@media  only screen and (min-width: 992px) {
  .example-card-one {width: 25%;}
 }
