<mat-toolbar color="primary" class="sticky">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon mat-icon-button fxShow fxHide.xs routerLink="/">home</mat-icon>
    <mat-icon mat-icon-button fxHide fxShow.xs (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span>
    <h1 routerLink="/">Ornie Friseur Salon</h1>
  </span>
  <span class="example-spacer"></span>
  <div fxLayout="row" fxShow fxHide.xs>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLinkActive="mat-accent">Salon</button>
      <button mat-button routerLinkActive="mat-accent">Team</button>
      <button mat-button routerLinkActive="mat-accent" routerLink="/search-product">Produkte</button>
      <button mat-button routerLinkActive="mat-accent">Preise</button>
      <button mat-button routerLinkActive="mat-accent" routerLink="/termin">Termin</button>
      <button mat-button routerLinkActive="mat-accent">Kontakt</button>
    </div>
  <button mat-icon-button class="example-icon favorite-icon" fxShow.xs fxHide>
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container" hasBackdrop="true">
  <mat-sidenav mode="over" #sidenav [(opened)]="opened" [fixedInViewport]="true">
    <mat-list role="list" class="list-width">
      <div class="sidenav-div">
        <mat-icon class="close-icon" mat-icon-button (click)="sidenav.toggle()" class="close-icon">close</mat-icon>
      </div>
      <mat-divider></mat-divider>
      <a mat-list-item role="listitem" class="list-item">
        <span class="mat-body-1">Kontakt</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item role="listitem" class="list-item">
        <span class="mat-body-1" routerLink="/termin">Termin</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item role="listitem" class="list-item">
        <span class="mat-body-1">Produkte</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item role="listitem" class="list-item">
        <span class="mat-body-1">FAQ</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item role="listitem" class="list-item">
        <span class="mat-body-1">Hilfe</span>
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content><br>
    <router-outlet></router-outlet><br>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
