<mat-toolbar color="primary" class="sticky">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon mat-icon-button fxShow fxHide.xs routerLink="/">home</mat-icon>
    <mat-icon mat-icon-button fxHide fxShow.xs (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span>
    <h1 routerLink="/">Ornie Friseur</h1>
  </span>
  <span class="example-spacer"></span>
  <div fxLayout="row" fxShow fxHide.xs>
      <a mat-button routerLink="/">Home</a>
      <a mat-button>Salon</a>
      <a mat-button>Team</a>
      <a mat-button>Produkte</a>
      <a mat-button>Preise</a>
      <a mat-button>Galerie</a>
      <a mat-button>Kontakt</a>
    </div>
  <button mat-icon-button class="example-icon favorite-icon" fxShow.xs fxHide>
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container" hasBackdrop="true">
  <mat-sidenav mode="over" #sidenav [(opened)]="opened" [fixedInViewport]="true">
    <mat-list role="list" class="list-width">
      <div style="height: 150px; background-color:brown; z-index: 4;">
        <mat-icon mat-icon-button (click)="sidenav.toggle()" class="close-icon">close</mat-icon>
      </div>
      <mat-list-item role="listitem" class="list-item">Kontakt</mat-list-item>
      <mat-list-item role="listitem" class="list-item">Second Item</mat-list-item>
      <mat-list-item role="listitem" class="list-item">Third Item</mat-list-item>
      <mat-list-item role="listitem" class="list-item">Fourth Item</mat-list-item>
      <mat-list-item role="listitem" class="list-item">Fifth Item</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content><br>
    <router-outlet></router-outlet><br>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
