<div class="container">
  <div class="Btn-Title">
      <button mat-raised-button class="back-btn" [routerLink]="['/frisur-list']">
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
              Back
      </button>
      <h2 class="title">Termin übersicht</h2>
  </div>
  <div>
      <dx-scheduler
      [dataSource]="appointmentsData"
      [views]='["week", "month"]'
      currentView="week"
      [currentDate]="currentDate"
      [startDayHour]="9"
      [endDayHour]="19"
      [height]="600"
      (onAppointmentAdding)="onAppointmentAdding($event)">
      </dx-scheduler>
  </div>

</div>
